@{Layout=null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uploadify</title>
	<script src="~/Scripts/jquery-ui-1.10.2/jquery-1.9.1.js"></script>
	<script src="~/Scripts/uploadify/jquery.uploadify.js"></script>
	<link href="~/uploadify/uploadify2.css" rel="stylesheet" />
	<style type="text/css">
	    .uploadify-button-text 
	    {
	        font-size: 14px;
width: 350px;
background: url(/images/admin/search.png) no-repeat 3px 3px;
padding-left: 5px;
display: inline-block;
border: solid 1px #999
	    }
        

		.demo {
			border:0px solid blue;
			background:#fff;
			color:#333;
			text-align:center;
			font-size:12px;
			width:100px;
			padding:0;
			min-width:0;
			text-decoration:underline;
		}
	    #divThumbnail p {
            float : left;
            margin-left:10px;
            border:solid 1px #ccc;
            padding:5px;
            cursor:pointer;
            position:relative;
	    }
	    #divThumbnail p:hover {
            border:solid 3px #ccc;
	    }
        #divThumbnail p.selected {
            border : solid 3px #468847;
            /*background:url(/images/ok.png) no-repeat #fff right top;*/
        }
        #divThumbnail p.selected span.icon {
            width : 32px;
            height : 32px;
            background:url(/images/check.png);
            position:absolute;
            top:0px;
            right:0px;
        }
	    #btnUpload
	    {
	        position: absolute;
	        top: 0px;
	        left: 355px;
            height: 32px;
            border: solid 1px #999;
            cursor:pointer;
            font-weight:bold;
	    }
	</style>
</head>
<body>
	<form name="form1" id="form1" action="d" style="position:relative;">
		<div id="queue"></div>
		<input id="file_upload" name="file_upload" type="file" />
        <p>
		@*<a href="javascript:$('#file_upload').uploadify('upload', '*')">Upload Files</a>*@
        
            <input type="button" value="上传" id="btnUpload"/>
		@*<a href="#" id="submitForm">upload</a>*@
	</p>
	</form>	

	<script type="text/javascript">
		var selectedFiles = 0;
		$(function() {			
			$('#file_upload').uploadify({
				'formData': {
					'timestamp' : 'abc',
					'token': 'test',
					'userName': function(){
						return $("#userName").val();
					}
				},
				'width':350,
				'multi':true,
				'auto': false,
				'buttonText': '浏览文件...',
                'buttonClass':'demo',
				'fileTypeExts': '*.gif;*.jpg;*.png',
				'swf': '/Scripts/uploadify/uploadify.swf',
				'uploader': 'ImageUpload.aspx',
				'onQueueComplete': function (queueData) {
					//alert(queueData.uploadsSuccessful + "success!");
				},
				'onSelect': function (file) {
					selectedFiles++;
				},
				'onUploadComplete': function (d) {
				    selectedFiles--;
				    
				},
				'onUploadSuccess': function (file, data, response) {
				    var d = eval("(" + data + ")");
				    var str = "<p><span class='icon'></span>";
				    str += "<img style='width:80px;' src='" + d.path + "' />";
				    str += "</p>";
				    var jdom = $(str);
				    $("#divThumbnail").append(jdom);
				    bindFileEvent(jdom);
				},
				'onCancel': function () {
					selectedFiles--;
				}
			});

			$("#submitForm").click(function () {			
				alert(selectedFiles);
				return false;
			});
		});
		function bindFileEvent(el) {
		    el.click(function () {
		        $(this).toggleClass("selected");
		    });
		}
        //在document对象上绑定返回【所有选择文件路径】的方法
		document.__getUploadFileUrls = function () {
		    var urls = [];
		    $("#divThumbnail p.selected img").each(function () {
		        urls.push($(this).attr("src"));
		    });
		    return urls;
		};
	</script>

	

    <div id="divThumbnail">


    </div>

    <script type="text/javascript">
        $("#btnUpload").click(function () {
            $('#file_upload').uploadify('upload', '*');
        });
        
    </script>
</body>
</html>
