body {
	background:#fff url(../Images/Bg/dettaglio-multicolor2.jpg) right bottom no-repeat;
	background-attachment:fixed;
}

#container {
	width:900px;
	padding:30px 0 0 30px;
}

#menu {
	width:210px;
	float:left;
}

#menu_list {
	margin-top:20px;
}

#menu_list li {
	margin-bottom:15px;
	font-size:15px;
}

p.dot_arrow {
	font-family:SimSun;
	background:url(../Images/dot.png) center center repeat-x;
	width:120px;
	text-align:right;
	color:#999;
	float:right;
}

p.dot_bg {
	background:url(../Images/dot.png) center center repeat-x;
}

p.dot_arrow span {
	position:relative;
	right:-3px;
	top:0px;
}

#wrapper_right {
	width:605px;
	padding-right:4px;
	background:url(../Images/border_right.png) right top repeat-y;
	border:0px solid #fff;
	position:relative;
	margin-left:280px;
}

#wrapper_bottom {
	background:url(../Images/border_bottom.png) left bottom repeat-x;
	padding-bottom:4px;
	border:0px solid #fff;
}



.img_normal {
	border-top:1px solid #fff;
	border-right:4px solid #fff;
	border-bottom:4px solid #fff;
	border-left:1px solid #fff;
}

.img_hover {
	border-top:1px solid #ddd;
	border-right:4px solid #ddd;
	border-bottom:4px solid #ddd;
	border-left:1px solid #ddd;
}

#content {
	padding:40px 20px 20px 25px;
	background:url(../Images/back-content.png) left top repeat;
	color:#444;
}

#content h1 {
	padding:0 0 30px;
	font-size:20px;
}

/* add */
.imgContainer p.item
{
    float:left;
    margin-left:24px;
    margin-top:20px;
    cursor:pointer;
}

.imgContainer p.item:hover {
    
}
.imgContainer img.thumb
{
    width:150px;
    height:120px;
}

.clear
{
    clear:both;
}
.hide
{
    display:none;
}
.table thead th,.table tbody td
{
    text-align:left;
    padding:3px;
}
.table thead th
{
    border-bottom:solid 1px #ccc;
}
/******页码********/
 .t-grid-pager {
     font-size: 13px;
    margin-top: 10px;
    color: #0a4986;
    float: left;
    width:100%;
}

.t-arrow-first, .t-arrow-prev {
    float: left;
}
.page a span, .t-icon {
    
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;
}
.t-arrow-prev {
    margin-left: 7px;
}

.page .current, .t-numeric .t-state-active {
    background: none repeat scroll 0 0 #0a4986;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 1px 5px;
    margin: 0 3px;
}
.t-status-text {
    margin-left: 7px;
}
.t-numeric {
    float: left;
    margin: 0 10px;
}
.t-numeric .t-link {
    color: #0A4986;
    float: left;
    margin: 0 3px;
    padding: 1px 5px;
}
.t-state-disabled
{
    color: #ccc;
}
/*验证*/
.input-validation-error
{
    background-color: rgb(255, 238, 238);
    
}
.field-validation-error
{
    color : #b94a48;
    background:url(/images/admin/icon_error.png) left center no-repeat;
    padding-left:20px;
}