@{
    ViewBag.Title = "产品保养";
    Layout = "~/Views/Website/_LayoutList.cshtml";
}

@section head{
<style type="text/css">
body {
	background-image: url(images/dettaglio-bouquet.jpg);
}
	#content {
		font-size:12px;
		font-family:Verdana;		
	}
</style>
}

@section menu{
	@Html.Action("Menu", "Website", new { name = "产品保养" })
}

<h1>产品保养</h1>

<h3 style="font-size:13px;color:#666;">Cleaning and maintenance instructionsfor IVV objects</h3>
 <p>&nbsp;</p>
<p><strong>DECORATION WITH GOLD/PLATINUM</strong>: <br />
Use a cloth, preferably microfibre (non-abrasive), damp it slightly and pass it over the surface. Dry it using a dry microfibre cloth.<br />
Note: the gold decoration may become tarnished in time due to exposure to the atmosphere (it tends to go red). Even in this case it can be cleaned following the procedure described above.<br />
Not microwave safe.</p>
<p>&nbsp;</p>
<p> <strong>SILVER DECORATION</strong>: <br />
  Use only specific silver polish products following carefully the instructions. <br />
  Not microwave safe.</p>
<p><br />
  <strong>TRANSPARENT, OPAQUE, PEARLY OR METALLIC INTERNAL AND/OR EXTERNAL COLOURING</strong>: <br />
  Use dishes neutral detergent. Rinse well with water and dry with a soft cloth, preferably microfibre. </p>
<p><br />
  <strong>GOLD OR SILVER LEAF DECORATION</strong>: <br />
  Use a cloth, preferably microfibre (non-abrasive), damp it slightly and pass it over the surface. Dry it using a dry microfibre cloth.<br />
  Not microwave safe.</p>
<p><br />
  <strong>DECORATION WITH CHROME</strong>: <br />
  Use dishes neutral detergents. Rinse well with water and dry with a soft cloth, preferably microfibre.</p>
<p> <br />
  <strong>SAND-BLASTED DECORATION</strong>: <br />
  se neutral detergents. Dry the object immediately after rinsing to avoid any trace of detergent that might cause stains. </p>
<p><br />
  <strong>SATIN FINISH</strong>: <br />
  Never use abrasive materials when cleaning. </p>
<p><br />
  <strong>MIRROR EFFECT</strong>: <br />
  (Glossy, satin or velvet finish) Wipe delicately using soft, non-abrasive and clean cloths. <br />
  Not microwave safe.</p>
<p><br />
  <strong>PLAIN GLASS OBJECTS</strong>: <br />
  Any glass detergent can be used. <br />
  To remove grease from glass, use water with a few drops of vinegar. </p>