@{
    ViewBag.Title = "新闻";
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.Post>;
}

@section head{
<style type="text/css">
body {
	background-image: url(images/dettaglio-love.jpg);
}
</style>
}

@section menu{
	@Html.Action("Menu", "Website", new { name = "新闻" })
}

<h1>新闻</h1>



<table class="table">

    <thead>
        <tr>
            <th style="width:400px;">标题</th>
            <th>日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list) {
        <tr>
            <td>@Html.ActionLink(item.Title, "ReadNews", new { id = item.Id})</td>
            <td>@item.CreateDate.ToShortDateString()</td>
        </tr>
        }
        
    </tbody>
</table>
@{
var pars = new Dictionary<string, object>();
        
    Html.RenderPager("_PageBar", list.Count, 10, (int)ViewData["pageIndex"], "/news.aspx", pars);
}

<div class="clear"></div>